@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: aliceblue;
  color: rgb(56, 52, 78);
  padding-bottom: 1em;
  height: 100%;
  min-height: 100vh;
}

.App {
  padding-top: 2em;
  text-align: center;
  min-height: 100%;
  padding-bottom: 1em;
}

.bthome{
  border: none;
  padding: .85em 1.4em;
  border-radius: 4px;
  background-color: darkslateblue;
  color: aliceblue;
  cursor: pointer;
  transition: all .2s ease-in;
  margin-left: .4em;
}

.bthome:hover{
  color: aliceblue;
  border-radius: 8px;
  text-shadow: ghostwhite 1px 1px 10px;
}


.search-input{
  border: 1px solid rgba(207, 204, 204, 0.788);
  border-radius: 4px!important;
  height: 2.5em;
  width: 16em;
  color: rgb(53, 50, 70);
}
.search-input:focus{
  border:none;
  color:  rgb(53, 50, 70);
}


.SearchForm-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.MovieList{
display: flex;
flex-wrap: wrap;
max-width: 60%;
min-width: 16%;
padding: 3em 2.2em;
}

.MovieList-item{
font-size: 1em;
display: flex;
width: 240px;
max-width: 250px;
margin: 0 auto;
flex-direction: column;
margin-bottom: -4em;
border-radius: 12px;
cursor: pointer;
transition: all .4s ease;
}

.MovieList-item:hover{
  box-shadow: 8px 4px 12px  rgba(155, 155, 155, 0.856),
  0 0 12px rgba(150, 148, 148, 0.856);
  background-color: rgb(49, 46, 75);
  color: aliceblue;
  font-weight: bold;
}


.MovieList-item  img{
  display: inline-block;
  height: 300px;
  min-width: 180px;
  width: 400px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.MovieList-item .image{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
}

.movie-flex{
  display: flex;
  flex-wrap: wrap;
}

.movie-title{
  font-size: .9em;
  font-weight: 400;
  text-align: center;
}

.movie-subtitle{
  font-size: .9em;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-weight: 600;
}

.movie-content{
  padding: 12px;
  height: 85px;
}

.notfound{
  margin-top: 2em;
  font-size: 2em;
  font-style: italic;
  width: 100%;
}

.notfound img {
  width: 16%;
}

.movie-details-container{
display: flex;
flex-direction: column;
padding: .8em 2em;
width: 100%;
text-align: start;
}

.flex-detail{
  display: flex;
  justify-content: space-around;
}

.detail-title{
  margin: .8em auto;
  font-weight: bolder;
  font-size: 2.2em;
}
.movie-details-item{
  width: 48%;
  padding: 1.2em;
  font-size: 1.2em;
  text-align: right;
}

.movie-details-item:nth-child(2){
  width: 60%;
  line-height: 1.8em;
  text-align: start;
}
.poster-movie{
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}

.poster-movie img{
  border-radius: 8px;
  width: 60%;
} 

@media (max-width: 375px) {
  .MovieList{
    padding: 10px;
    min-width: 100%;
    }
    
    .MovieList-item{
    font-size: 1em;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin-bottom: 24px;
    border-radius: 12px;
    }
    
    .MovieList-item  img{
      display: inline-block;
      height: 380px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    
    .movie-flex{
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      justify-content: space-evenly;
    }
    
    .movie-title{
      font-size: .9em;
      font-weight: 400;
      text-align: center;
    }
    
    .movie-subtitle{
      font-size: .9em;
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-weight: 600;
    }
    
    .movie-content{
      padding: 8px;
      height: 80px;
    }
}

@media (min-width: 414px) and (max-width: 640px) {
  .MovieList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    
    .MovieList-item{
    font-size: .95em;
    display: flex;
    border-radius: 12px;
    }
    
    .MovieList-item  img{
      display: inline-block;
      height: 300px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    
    .movie-flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    
    .movie-title{
      font-size: .8em;
      font-weight: 600;
      text-align: center;
    }
    
    .movie-subtitle{
      font-size: .8em;
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-weight: 600;
    }
    
    .movie-content{
      padding: 8px;
      height: 80px;
    }
    .movie-details-container{
      display: flex;
      flex-direction: column;
      padding: .8em 2em;
      width: 100%;
      font-size: .9em;
      text-align: start;
      }
      .flex-detail{
        display: flex;
        justify-content: space-around;
      }
      
      .detail-title{
        margin: .8em auto;
        font-weight: bolder;
        font-size: 2.2em;
      }
      .movie-details-item{
        width: 48%;
        padding: 1.2em;
      }
      
      .movie-details-item:nth-child(2){
        width: 60%;
        line-height: 1.8em;
      }
      .poster-movie{
        max-width: 100%;
      }
      
      .poster-movie img{
        border-radius: 8px;
        width: 100%;
      } 
}

  /* LOADER */
  .lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 8em;
  }
  .lds-grid div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    background: darkslategray;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  